**Breast Cancer detection using Logistic Regression**

In [ ]:
#importing libraries
import numpy as np
import sklearn.datasets

In [ ]:
#getting the data sets
breast_cancer=sklearn.datasets.load_breast_cancer()
print(breast_cancer)

In [ ]:
x=breast_cancer.data
y=breast_cancer.target
print(y)

In [ ]:
print(x.shape)
print(y.shape)

(569, 30)
(569,)

import data to the pandas data frame

In [ ]:
import pandas as pd

In [ ]:
data=pd.DataFrame(breast_cancer.data,columns=breast_cancer.feature_names)

In [ ]:
data['class']=y

In [ ]:
data.head()

   mean radius  mean texture  ...  worst fractal dimension  class
0        17.99         10.38  ...                  0.11890      0
1        20.57         17.77  ...                  0.08902      0
2        19.69         21.25  ...                  0.08758      0
3        11.42         20.38  ...                  0.17300      0
4        20.29         14.34  ...                  0.07678      0

[5 rows x 31 columns]

In [ ]:
data.describe()

       mean radius  mean texture  ...  worst fractal dimension       class
count   569.000000    569.000000  ...               569.000000  569.000000
mean     14.127292     19.289649  ...                 0.083946    0.627417
std       3.524049      4.301036  ...                 0.018061    0.483918
min       6.981000      9.710000  ...                 0.055040    0.000000
25%      11.700000     16.170000  ...                 0.071460    0.000000
50%      13.370000     18.840000  ...                 0.080040    1.000000
75%      15.780000     21.800000  ...                 0.092080    1.000000
max      28.110000     39.280000  ...                 0.207500    1.000000

[8 rows x 31 columns]

In [ ]:
print(data['class'].value_counts())

1    357
0    212
Name: class, dtype: int64

In [ ]:
print(breast_cancer.target_names)

['malignant' 'benign']

In [ ]:
data.groupby('class').mean()

       mean radius  mean texture  ...  worst symmetry  worst fractal dimension
class                             ...
0        17.462830     21.604906  ...        0.323468                 0.091530
1        12.146524     17.914762  ...        0.270246                 0.079442

[2 rows x 30 columns]

o-malignant

1-benign

Train Test and Split

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.9)
print(y.shape,y_train.shape,y_test.shape)

(569,) (512,) (57,)

In [ ]:
print(y.mean(),y_train.mean(),y_test.mean())

0.6274165202108963 0.625 0.6491228070175439

In [ ]:
#sratify is used for correct distribution of data 
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.9,stratify=y,random_state=1)
print(y.mean(),y_train.mean(),y_test.mean())

0.6274165202108963 0.626953125 0.631578947368421

In [ ]:
print(x.mean(),x_train.mean(),x_test.mean())

61.890712339519624 61.31637960106119 67.04963097269005

Logistic Regression

In [ ]:
#import logistic regression from sklearn
from sklearn.linear_model import LogisticRegression

In [ ]:
classifier = LogisticRegression()#loading the model to the variable 'classifier'

In [ ]:
#training the model on training data
classifier.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

**Evaluation of the model**

In [ ]:
#import accuracy score
from sklearn.metrics import accuracy_score

In [ ]:
prediction_on_training_data=classifier.predict(x_train)
accuracy_on_training_data=accuracy_score(y_train,prediction_on_training_data)
print('accuracy on training data :',accuracy_on_training_data)

accuracy on training data : 0.951171875

In [ ]:
prediction_on_testing_data=classifier.predict(x_test)
accuracy_on_testing_data=accuracy_score(y_test,prediction_on_testing_data)
print('accuracy on testing data :',accuracy_on_testing_data)

accuracy on testing data : 0.9298245614035088

Detecting whether the patient has breast cancer in Benign or Malignant stage

In [ ]:
input_data=(13.54,14.36,87.46,566.3,0.09779,0.08129,0.06664,0.04781,0.1885,0.05766,0.2699,0.7886,2.058,23.56,0.008462,0.0146,0.02387,0.01315,0.0198,0.0023,15.11,19.26,99.7,711.2,0.144,0.1773,0.239,0.1288,0.2977,0.07259)
#changing the input data to numpy arrays to make prediction

input_data_as_numpy_array=np.asarray(input_data)
print(input_data_as_numpy_array)

In [ ]:
#reshape the array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
print(input_data_reshaped)

In [ ]:
#prediction
prediction=classifier.predict(input_data_reshaped)
print(prediction)#returns a list with element[0] if malignant ;returns a list with elemnt [1] if benign

[1]

In [ ]:
if prediction[0]==0:
  print('MALIGNANT STATE')
else:
  print('BENIGN STATE')

BENIGN STATE